body {
    background: #08034c;
    color: white;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    font-family: sans-serif
}

hr {
    margin-bottom: 30px;
}

.btnContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 50%;
    height: 50px;
    min-width: 350px;
    /* border: 3px solid white; */
}

button {
    /* margin: auto; */
    height: 30px;
    width: 70px;
    /* float: left; */
    /* margin-left: 5%; 
    margin-right: 5%; */
    margin-top: 10px;
    margin-bottom: 10px;
    background: #dee9fc;
    font-weight: bold;
    border-radius: 10px;
}

#exampleDiv {
    height: 60%;
    width: 60%;
    background: #0b3e91;
    font-size: 6em;
    margin: auto;
    margin-top: 30px;
    text-align:center;
    min-width: 500px;
    min-height: 120px;
    border-style: solid; 
    border-width: 10px;
    border-color: white;

}

#output {
    width: 60%;
    min-width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align:center;
    font-size: 2em;
}

#outputRadius {
    width: 60%;
    min-width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align:center;
    font-size: 2em;
    display:none;
}